{% extends "agent_layout.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Add new accomodation (1/2)</h4>
      <p class="card-description">
      </p>
      <form class="forms-sample" method="post">
        <div class="form-group">
          <label for="exampleInputName1">Name</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
        </div>
        <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@geocodeearth/autocomplete-element/dist/bundle.js">
      </script>
        <div class="form-group">    
          <label for="exampleInputPassword4">Place</label>
              <input type="hidden" name="place" id="place" value="404" required>
                  <ge-autocomplete
                  api_key="ge-409885d2f6333f95"
                  focus.point.lat="8.5241"
                  focus.point.lon="76.9366"
                  placeholder="Search for places"
                  ></ge-autocomplete>
        </div>
        
        <div class="form-group">
            <label for="exampleSelectGender">Type</label>
              <select class="form-control" id="exampleSelectGender" name="type">
                <option value="hostel" >Hostel</option>
                <option value="pg" >Paying Guest</option>
                <option value="homerent">Home Rent</option>
                <option value="nhome">New Home</option>
              </select>
            </div>

        <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4" name="description" placeholder="Description" required></textarea>
          </div>

        <button type="submit" class="btn btn-primary mr-2">Next</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>

  
<script>
    const el = document.querySelector('ge-autocomplete')
    
    // 'select' event handler - when a user selects an item from the suggestions
    el.addEventListener('select', (event) => {
    //     document.getElementById("place").value=event.detail;
    //   console.log(event.detail)
    })
    
    // 'change' event handler - on every keystroke as the user types
    el.addEventListener('change', (event) => {
        document.getElementById('place').value=event.detail
      console.log(event.detail)
    })
    
    // 'features' event handler - when the GeoJSON features backing the UI change
    el.addEventListener('features', (event) => {
    //   console.log(event.detail)
    })
    
    // 'error' event handler - on error
    el.addEventListener('error', (event) => {
      console.log(event.detail)
    })


    </script>
{% endblock content %}

