{% extends "agent_layout.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Add new accomodation (2/2)</h4>
      <p class="card-description">
      </p>
      <form class="forms-sample" action="/agent_add2" method="post" enctype="multipart/form-data">

        <div class="form-group">

            <label>Image upload</label>
            <input type="hidden" value='{{id}}' name="id">
            <input type="hidden" value='{{type}}' name="type">




            <label for="formFileMultiple" class="form-label">Select the images</label>
            <input class="form-control" name="img[]"  type="file" id="formFileMultiple" accept="image/png" multiple />
            <!-- <input type="file" name="img[]" accept="image/png" class="file-upload-default" id="formFileMultiple" multiple>
            <div class="input-group col-xs-12">
              <label for="formFileMultiple" class="form-label">Multiple files input example</label>
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image"  for="formFileMultiple">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div> -->
          </div>

          {% if type=='hostel' or type=='pg' %}

          <div class="form-group">
            <label for="exampleInputCity1">Price</label>
            <input type="number" class="form-control" id="exampleInputCity1" placeholder="Price" min="0" name="price">
          </div>

          <div class="form-group">
            <label for="exampleInputCity1">Landmark</label>
            <input type="text" class="form-control" id="exampleInputCity1" placeholder="Landmark"  name="landmark">
          </div>

          <div class="form-group">
            <label for="exampleSelectGender">Gender</label>
              <select class="form-control" id="exampleSelectGender" name="Gender">
                <option value="Male" >Male</option>
                <option value="Female" >Female</option>
                <option value="Both">Both</option>
              </select>
            </div>
          
            <div class="form-group">
              <label for="exampleInputCity1">Number of rooms</label>
              <input type="number" class="form-control" id="exampleInputCity1" placeholder="Number" min="0" name="acco_qty" value="1">
            </div>  


            <div class="form-group">
              <label for="exampleSelectGender">Room Type</label>
                <select class="form-control" id="exampleSelectGender" name="acco_misc">
                  <option value="Sharing" >Sharing</option>
                  <option value="Double sharing" >Double sharing</option>
                  <option value="2+ Sharing">2+ Sharing</option>
                </select>
              </div>


            <input type="hidden" value="1" name="size">

            
          {% elif type=='homerent' or type=='nhome' %}

          <div class="form-group">
            <label for="exampleInputCity1">Price</label>
            <input type="number" class="form-control" id="exampleInputCity1" placeholder="Price" min="0" name="price">
          </div>

          <div class="form-group">
            <label for="exampleInputCity1">Landmark</label>
            <input type="text" class="form-control" id="exampleInputCity1" placeholder="Landmark"  name="landmark">
          </div>

          <div class="form-group">
            <label for="exampleSelectGender">Available For</label>
              <select class="form-control" id="exampleSelectGender" name="Gender">
                <option value="Family" >Family</option>
                <option value="Company" >Company</option>
                <option value="Bachelor">Bachelor</option>
              </select>
            </div>


            <div class="form-group">
              <label for="exampleSelectGender">Furnishing Type</label>
                <select class="form-control" id="exampleSelectGender" name="acco_misc">
                  <option value="Fully Furnished" >Fully Furnished</option>
                  <option value="Semi Furnished" >Semi Furnished</option>
                  <option value="UnFurnished">UnFurnished</option>
                </select>
              </div>

            <input type="hidden" value="1" name="acco_qty">
    
            <div class="form-group">
              <label for="exampleInputCity1">Size </label>
              <input type="number" class="form-control" id="exampleInputCity1" placeholder="Sq.Ft" min="0" name="size">
          </div>

            
          {% endif %}
       
          
           

   



          {% if type!="nhome" %}

            <div class="form-group">
                <label for="exampleInputCity1">Duration </label>
                <input type="text" class="form-control" id="exampleInputCity1" placeholder="Please Specify if it is in Years/Months or days"  name="duration">
            </div>      
          {% else %}
              <input type="hidden" value="" name="duration">
          {% endif %}

      <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="/login"><button class="btn btn-light">Cancel</button></a>
        </div>

        </form>
    </div>
  </div>
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <script src="../../js/typeahead.js"></script>
  <script src="../../js/select2.js"></script>
  <!-- End custom js for this page-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    if('{{sucess}}'=='0'){
        alert('Something Went Wrong')
    } 

if('{{sucess}}'=='1'){
  Swal.fire(
    'Thank You!',
    'Accomodation Sucessfully Added.',
    'success'
    
  ).then((result) => {
  if (result.isConfirmed) {
    window.location.href = "/agent_index";
    }})
  } 
  </script>

{% endblock content %}
