{% extends "agent_layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Welcome {{name}}</h3>
        <!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pending Requests</h4>
        <p class="card-description">
        </p>
        <div class="table-responsive" id="pending">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Acoomondation <br> Name</th>
                <th>Request Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for x in item %}
              <tr>
                <td>{{x.user_name}}</td>
                <td>{{x.user_address}}</td>
                <td>{{x.acco_name}}</td>
                <td>{{x.date}}</td>
                <td><label class="badge badge-danger">Pending</label></td>
                <td>
                  <button type="button" class="btn btn-success btn-rounded btn-icon" onclick="action(1,'{{x.req_id}}')">
                    <i class="mdi mdi-account-check"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded btn-icon"onclick="action(2,'{{x.req_id}}')">
                    <i class="mdi mdi-account-off"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Current Bookings</h4>
        <p class="card-description">
        </p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Acoomondation <br> Name</th>
                <th>Request Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for x in item2 %}
              <tr>
                <td>{{x.user_name}}</td>
                <td>{{x.user_address}}</td>
                <td>{{x.acco_name}}</td>
                <td>{{x.date}}</td>
                {% if x.payment=='0'%}
                <td><label class="badge badge-success">Request Accepted</label></td>
                {% elif x.payment=='1'%}
                <td><label class="badge badge-success">Paid</label></td>
                {% endif %}
                
                <td>

                  <button type="button" class="btn btn-danger btn-rounded btn-icon"onclick="action(3,'{{x.req_id}}')">
                    <i class="mdi mdi-account-off"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function action(n,req_id){
    var data={
      "req_id":req_id,
      "action":n
    }
    let options = {
        method: 'POST',
        body: JSON.stringify(data)
    }
    // Fake api for making post requests
    let fetchRes = fetch(
    "/agent_action",
        options);
    fetchRes.then(res =>
        res.json()).then(d => {
          if(d.status==404){
            alert("Sorry, Something went wrong")
          }
          else if(d.status==200){
              location.reload();
          }
        })
    }

</script>

{% endblock content %}
