<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Accomodation Description</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" /> -->

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="filter.css">
  <link rel="stylesheet" href="css/pdetail.css">
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

  <!-- =======================================================
  * Template Name: eStartup - v4.7.1
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="index.html"><span>A</span>ccomodationFinder</a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto " href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/user_notifications">Notification</a></li>
            <li><a class="nav-link scrollto" href="/user_profile">Profile</a></li>
            <li><a class="nav-link scrollto" href="/logout">logout</a></li>
  
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Accomodation Description</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Accomodation Description</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <section>
        {% for x in item %}

        <div class="container">
        
            <section id="services" class="services section-bg">
                <div class="container-fluid">
              
                   <div class="row">
                       <div class="col-md-6">
                      <div class="Qcol-md-6 _boxzoom">
                         <div class="zoom-thumb">

                         </div>

                         <div class="wrapper">
                          <input checked type=radio name="slider" id="slide1" />
                          <input type=radio name="slider" id="slide2" />
                          <input type=radio name="slider" id="slide3" />
                          <input type=radio name="slider" id="slide4" />
                          <input type=radio name="slider" id="slide5" />
                        
                          <div class="slider-wrapper">
                            <div class=inner>
                              {% for i in range(1,x.pic_count+1) %}
                              <article>
                                <div class="info top-left">
                                  <h3></h3></div>
                                <img src="acco_images/{{x.acco_id}}/{{x.acco_id}}.{{i}}.png" />
                              </article>
                        
                              {% endfor %}
                            </div>
                            <!-- .inner -->
                          </div>
                          <!-- .slider-wrapper -->
                        
                          <div class="slider-prev-next-control">
                            {% for i in range(1,x.pic_count+1) %}
                            <label for=slide{{i}}></label>
                            {% endfor %}

                          
                          </div>
                          <!-- .slider-prev-next-control -->
                        
                          <div class="slider-dot-control">
                            {% for i in range(1,x.pic_count+1) %}
                            <label for=slide{{i}}></label>
                            {% endfor %}

                          
                          </div>
                          <!-- .slider-dot-control -->
                        </div>

                         <!-- <div class="_product-images">
                            <div class="picZoomer">
                                <img class="my_img" src="/acco_images/{{x.acco_id}}.png" style="object-fit: contain;" onerror="this.src='https://picsum.photos/200/150/?random'" >
                            </div>
                         </div> -->
                      </div>
                      </div>
                      <div class="col-md-6">
                        <div class="wrapper">
                         <div class="mt-5 _product-detail-content">
                            <p class="_p-name"> {{x.acco_name}} </p>
                            <div class="_p-price-box">
                               <div class="p-list">
                                  <span> Rs. : <i class="fa fa-inr"></i>{{x.acco_price}}</span>
                                  <!-- <span class="price"> Rs. 699 </span> -->
                               </div>
                               <div class="_p-add-cart">
                                  <div class="_p-qty">
                                     <span>Duration : {{x.acco_duration}}</span>
                                     <br>
                                     {% if x.acco_type=='hostel' or x.acco_type=='pg' %}
                                        <span> {{x.r}} Room(s) Remaining </span>
                                     {% endif %}
                                  </div>
                               </div>
                               <div class="_p-features">
                                  <span> Description About this:- </span>
                                       {{x.acco_description}}
                                  <br>
                                      </div>
                               <form action="" method="post" accept-charset="utf-8">
                                  <ul class="spe_ul"></ul>
                                  <div class="_p-qty-and-cart">
                                     <div class="_p-add-cart">


                                      {%  if x.r==0 %}
                                      <span style="color: red;">Sorry, the Acoomodation is already taken</span>
                                      {% else %}
                                       <button class="btn-theme btn buy-btn" tabindex="0" onclick="book('{{x.acco_id}}','{{x.acco_qty}}')">
                                        <i class="fa fa-shopping-cart"></i> Request Booking
                                        </button>
                                      {% endif %}
                                        <input type="hidden" name="pid" value="18" />
                                        <input type="hidden" name="price" value="850" />
                                        <input type="hidden" name="url" value="" />    
                                     </div>
                                  </div>
                               </form>
                            </div>
                         </div>
                        </div>
                      </div>
                   </div>
                </div>
             </section>

        </div>
        
        {% endfor %}
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">AccomodationFinder</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights AccomodationFinder. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
       </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



<script>
    function book(id,qty){
        var data={
      "id":id,
      'acco_qty':qty
    }

    let options = {
        method: 'POST',
        body: JSON.stringify(data)
    }
    // Fake api for making post requests
    let fetchRes = fetch(
    "/user_requestacco",
        options);
    fetchRes.then(res =>
        res.json()).then(d => {
          if(d.status==404){
            alert("Sorry, Something went wrong")
          }
          else if(d.status==200){
            Swal.fire(
                'Thank You!',
                'request Sucessfully Done.',
                'success'
                
            ).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/";
                }})          
            }
        })
    }


    if('{{status}}'=='200'){
  Swal.fire(
    'Thank You!',
    'Accomodation Sucessfully Edited.',
    'success'
    
  ).then((result) => {
  if (result.isConfirmed) {
    window.location.href = "/user_notifications";
    }})
  } 
  </script>
</body>
</html>